.gibier .background {
  background-color: #9C1212;
}

p.opal {
  position: absolute;
  top: -110px;
  left: 520px;
}

p.opal img {
  width: 200px;
}

p.rubykaigi {
  position: absolute;
  top: 100px;
  left: 520px;
}

p.rubykaigi img {
  height: 200px;
}

p.heart {
  text-align: center;
}

p.heart img {
  width: 400px;
}

span.yellow {
  color: #ffffaa;
}
