body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 200%;
  overflow: hidden;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-top: 48px solid #8fefcf;
  border-bottom: 48px solid #8fefcf;
}

h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 20%;
}

#cover p {
  position: absolute;
  left: 50%;
  top: 50%;
}

#cover img {
  position: absolute;
  left: 60%;
  top: 50%;
}

h2 {
  position: absolute;
  width: 100%;
  padding: 16px 0 16px 10%;
  border-bottom: 4px solid #8fefcf;
}

.page > ul {
  position: absolute;
  top: 20%;
  margin-left: 10%;
  margin-right: 10%;
}

.page p {
  position: absolute;
  top: 20%;
  margin-left: 10%;
  margin-right: 10%;
}

.page img {
  position: absolute;
  top: 20%;
  margin-left: 10%;
  margin-right: 10%;
}

.page pre {
  position: absolute;
  top: 20%;
  padding: 16px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  background-color: #3f3f3f;
  text-wrap: wrap;
}

#rubykaigi2025 p {
  font-size: 200%;
  text-align: center;
}

#think img {
  width: 400px%;
  height: 400px;
  text-align: center;
  left: calc(40% - 200px);
}

#tada img {
  width: 400px%;
  height: 400px;
  left: calc(40% - 200px);
}

#lets_enjoy p {
  top: 0%;
  font-size: 500%;
  text-align: center;
}
